.newsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1 0 100%;
}

.news {
  /* width: 800px; */
  margin: 10px 0;
  /* padding: 20px 30px; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

.tbl {
  /* width:100%; */
  /* table-layout: fixed; */
  /* table-layout: auto; */
  /* width: 100%; */
  height: 100%;
  /* border-spacing: 5px 5px; */
}

.tbl th, .tbl td {
  overflow: hidden;
  height: 100%;
  /* width: 100%; */
  
}
.tbl tr:last-child {
    /* width: 100%; */
    /* white-space: pre-wrap; */
}

.prev-text {
  margin-top: 45%
}

.image {
  max-width: 100px;
  max-height: 100px;
}

.rectangle {
  display: inline-block;
  max-width: 100px;
  max-height: 100px;
  background: gainsboro;
  text-align: center;
  color: white;
  /* margin:20px auto; */
}

.spacer {
  /* width: max-content; */
}

.newsTitle {
  /* display: block; */
  /* margin-bottom: 10px; */
  font-size: small;
  font-weight: bold;
}

/* .description span { */

/* padding: 0 10px; */

/* } */


.content .text {
  /* padding-left: 20px; */
  font-size: small;
  /* margin-top: 30px; */
}

.content .date {
  font-size: small;
  text-align: right; 
  font-weight: bold;
  padding-right:0px;

  position: relative;
  top: 0;
  right: 0;
}

/* .description .newsTitle{
}
.description .title-date{
} */

.right {
  margin-top: 0;
  padding-top: 0;
}


td:empty::after{
  content: "\00a0";
}

.content span:not(:last-child) {
  border-right: 1px solid #000;
}

.title-date {
  /* margin-right: 0; */
}

.content{
  /* max-width: 1140px; */
  margin: 0 auto; /*center*/
  /* display: grid; */
  /* grid-template-columns: repeat (auto-fit, 360px ); */
  /* grid-gap: 20px; */


  /* display: flex;
  flex-direction: row; */
}
.item{
  height: 200px;
  background: gray;
}
.item_big{
  grid-column: span 1/-2;
  padding: 48px;
  display: grid;
  align-items: content;
}

.item__text{
  padding: 24px;
}